* {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
title {
    display: none;
  }
body {
    background-image: url(img/Bg.png);
    background-size: cover;
    height: 100%;
    width: 1000px;
}
.header {
    width: 100%;
    height: 100px; 
    display: flex;  
}
.left-cloud {
    height: 100px;
}
.cloudtext {
    margin-top: -28px;
    font-size: 18px;
    margin-left: 200px;
}
.img-cloud {
    width: 29px;
    height: 29px;
    margin-top: 49px;
    margin-left: 165px;
    
}
.navbar {
    margin-left: 160px;
    font-size: 14px;
    margin-top: 58px;
    display: flex;
    list-style-type: none;
    width: 445px;
}
a {
    text-decoration: none;
}

li {
    padding-right:  16px;
}
.language {
    margin-left: 97px;
    display: flex;
    align-items: center;
    
}
.language-icon {
    width: 32px;
    height: 32px;
    margin-right: 11px;
    margin-top: 36px;
}
.EN {
    margin-top: 38px;
    font-size: 14px;
}
.triangle-img {
    width: 18px;
    height: 18px;
    margin-top: 41px;
    margin-left: 11px;
}
.login {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 168px;
}
.button-login {
    margin-right: 165px;
    margin-left: 15px;
    margin-top: -3px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 11px 29px 12px 28px;
    width: 100px;
    height: 40px;
    background: none;
}
.container .title {
    display: block;
    margin: 200px 431px 0 431px;
    text-align: center;
}
.title {
    height: 600px;
    width: 578px;
}
.cloudbudget-title {
    font-size: 72px;
}
.discription-text1 {
    margin-top: 15px;
    font-size: 24px;
}
.discription-text2 {
    margin-top: 5px;
    font-size: 24px;
}
.discription-text3 {
    margin-top: 5px;
    font-size: 24px;
}
.button-sign {
    margin-top: 45px;
    border: none;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    color: #ED4C5C;
    font-size: 14px;
}